.prod-card-img-top {
    display: block;
    max-width: 100%;
    border-top-left-radius: calc(0.375rem - 1px);
    border-top-right-radius: calc(0.375rem - 1px);
    max-height: 100px;
    min-height: 100px;
    width: 100px;
    margin: 10px auto 0 auto;
}