<template>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">

            <!--Toggler-->
            <navbar-toggle-button @click.native="showSidebar">
                <span class="navbar-toggler-icon"></span>
            </navbar-toggle-button>
            <router-link to="/" class="navbar-brand pt-0">
                <span class='h1'>CUBE</span>
            </router-link>
            <slot name="mobile-right">
                <ul class="nav align-items-center d-md-none">
                    <base-dropdown class="nav-item" position="right">
                        <template slot="title">
                            <div class="nav-link pr-0 media align-items-center icon-shape" slot="title">
                                <font-awesome-icon icon="user-circle" />
                            </div>    
                        </template>
                        <template>
                            <router-link to="/profile" class="dropdown-item">
                                <font-awesome-icon icon="user" />
                                <span>Профиль</span>
                            </router-link>
                            <router-link to="/profile" class="dropdown-item">
                                <font-awesome-icon icon="key" />
                                <span>Сменить пароль</span>
                            </router-link>
                            <router-link to="/feedback" class="dropdown-item">
                                <font-awesome-icon icon="envelope" />
                                <span>Обратная связь</span>
                            </router-link>
                            <div class="dropdown-divider"></div>
                            <li class="dropdown-item" @click="$localStorage.remove('token');$router.push('/login')">
                                <font-awesome-icon icon="sign-out-alt" />
                                <span>Выход</span>
                            </li>
                        </template>
                    </base-dropdown>
                    <notification-dropdown class="nav-item" position="right" menuClasses='dropdown-menu-lg'>
                        <template slot="title">
                            <div class="nav-link pr-0 media align-items-center icon-shape" slot="title">
                                <font-awesome-icon icon="bell" />
                            </div>    
                        </template>
                        <template>
                            <notification-dropdown-item v-for="(notify, key) in this.notifications"
                                :key="key"
                                :title='notify.title'
                                :text='notify.text'
                                :type='notify.type'
                                :date='notify.date' />
                        </template>
                    </notification-dropdown>
                    <li class="nav-item" @click="$localStorage.remove('token');$router.push('/login')">
                        <div class="nav-link pr-0 media align-items-center icon-shape" slot="title">
                            <font-awesome-icon icon="sign-out-alt" />
                        </div>
                    </li>
                </ul>
            </slot>
            <slot></slot>
            <div v-show="$sidebar.showSidebar" class="navbar-collapse collapse show" id="sidenav-collapse-main">

                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <router-link to="/">
                                <span class='h1'>CUBE</span>
                            </router-link>
                        </div>
                        <div class="col-6 collapse-close">
                            <navbar-toggle-button @click.native="closeSidebar"></navbar-toggle-button>
                        </div>
                    </div>
                </div>

                <ul class="navbar-nav">
                    <slot name="links">
                    </slot>
                </ul>
                <!--Divider-->
                <hr class="my-3">
                <!--Heading-->
                <!--Navigation-->
                <ul class="navbar-nav mb-md-3">
                    <sidebar-item :link="{name: 'Аккаунт', icon: 'user', path: '/profile'}"/>
                    <sidebar-item :link="{name: 'Уведомления', icon: 'bell', path: '/notifications'}"/>
                    <sidebar-item :link="{name: 'Обратная связь', icon: 'envelope', path: '/feedback'}"/>
                </ul>
            </div>
            </div>
    </nav>
</template>
<script>
    import NavbarToggleButton from '@/components/NavbarToggleButton'
    import NotificationDropdown from '@/components/NotificationDropdown'
    import NotificationDropdownItem from '@/components/NotificationDropdownItem'
    export default {
        name: 'sidebar',
        data() {
            return {
                notifications: [
                    {'text': 'Нотификация с ошибкой', 'title': 'Произошла ошибка', 'type': 'error', 'date': 'Сегодня в 8:00'},
                    {'text': 'Нотификация с предупреждением', 'title': 'Предупреждение', 'type': 'warning', 'date': 'Сегодня в 8:00'},
                    {'text': 'Нотификация успех', 'title': 'Успешно выполнено', 'type': 'success', 'date': 'Сегодня в 8:00'},
                    {'text': 'Нотификация c информацией', 'title': 'Дополнительная информация', 'type': 'info', 'date': 'Сегодня в 8:00'},
                ]
            };
        },
        components: {
            NavbarToggleButton,
            NotificationDropdown,
            NotificationDropdownItem
        },
        props: {
            autoClose: {
                type: Boolean,
                default: true,
                description:
                'Whether sidebar should autoclose on mobile when clicking an item'
            }
        },
        provide() {
            return {
                autoClose: this.autoClose
            };
        },
        methods: {
            closeSidebar() {
                this.$sidebar.displaySidebar(false)
            },
            showSidebar() {
                this.$sidebar.displaySidebar(true)
            }
        },
        beforeDestroy() {
            if (this.$sidebar.showSidebar) {
                this.$sidebar.showSidebar = false;
            }
        }
    };
</script>
