<template>
    <div>
        <base-header title='Новый источник'>
        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--6">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <base-input placeholder="Название источника" required v-model="source_name"></base-input>
                            <div class="form-group">
                                <select class="form-control" v-model="source_type">
                                    <option value="">Тип источника</option>
                                    <option value="ya_market_file">Файл для Яндекс маркет</option>
                                    <option value="ya_market_file_from_site">Файл для Яндекс маркет с вашего сайта</option>
                                    <option value="parser">Парсер товаров с сайта</option>
                                </select>
                            </div>
                            <base-input placeholder="Ссылка на YML" required v-model="source_yml_link" v-if="source_type === 'ya_market_file_from_site'"></base-input>
                            <div class="form-group">
                                <div class="custom-file" v-if="source_type === 'ya_market_file'">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Файл YML</label>
                                </div>
                            </div>
                            <div v-if="source_type === 'parser'">
                                <p>
                                    Что бы импортировать товары через парсер, нам необходимо оценить сайт, укажите ваш email для связи, 
                                    и ссылку на сайт
                                </p>
                                <base-input placeholder="Email" required v-model="source_parser_email"></base-input>
                                <base-input placeholder="Ссылка на сайт" required v-model="source_parser_link"></base-input>
                            </div>
                            <base-button 
                                    type="primary"
                                    textColor='white'
                                    v-if="source_type !== ''"
                                >
                                Добавить
                            </base-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>

    export default {
        data() {
            return {
                'source_type': '',
                'source_name': '',
                'source_yml_link': '',
                'source_parser_email': '',
                'source_parser_link': '',
                'visible_yml_file_controls': false,
                'visible_yml_link_controls': false,
                'visible_yml_parser_controls': false,
                'visible_submit_button': false
            };
        },
    };
</script>
<style></style>