<template>
    <div>
        <base-header>    
        </base-header>
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <!-- Basic with list group -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h4 class="h2 mb-0">Мой файл YML</h4>
                                </div>
                                <div class="text-right col-4">
                                    <base-dropdown position='right'>
                                        <base-button slot="title" type="primary" size="sm" class="dropdown-toggle">
                                            Действия
                                        </base-button>
                                        <a class="dropdown-item" href="#">Удалить</a>
                                        <a class="dropdown-item" href="#">Запустить импорт</a>
                                        <a class="dropdown-item" href="#">Изменить файл</a>
                                    </base-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Источник загружен из вшего файла, возможно загрузить новый файл.
                            </p>
                            <base-button 
                                    type="primary"
                                >
                                <font-awesome-icon icon="boxes" />
                                <span class="btn-inner--text">
                                    Посмотреть товары
                                </span>    
                            </base-button>
                            <base-button 
                                    type="primary"
                                >
                                <font-awesome-icon icon="book" />
                                <span class="btn-inner--text">
                                    Посмотреть логи
                                </span>    
                            </base-button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Basic with list group -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h4 class="h2 mb-0">Статистика</h4>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Создан <span class="badge badge-primary badge-pill">11.04.89</span>
                            </li>
                            <li class="list-group-item">
                                Товаров <span class="badge badge-primary badge-pill">200</span>
                            </li>
                            <li class="list-group-item">
                                Последняя синхронизация <span class="badge badge-primary badge-pill">15.05.19</span>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>    
    </div>
</template>
<script>

    export default {
        data() {
            return {
                
            };
        },
    };
</script>
<style></style>