<template>
    <div>
        <base-header title='Источники'>
            <template v-slot:actions>
                <a href="#pablo" class="btn-neutral btn btn-default btn-sm">Добавить</a>
            </template>    
        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                            <div class="pt-4 text-center">
                                <h5 class="h3 title">
                                    <span class="d-block mb-1">Мой группа</span>
                                    <small class="h4 font-weight-light text-muted">VK.com</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button 
                                        type="primary"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="info" />
                                    </base-button>
                                    <base-button 
                                        type="danger"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="trash-alt" />
                                    </base-button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                            <div class="pt-4 text-center">
                                <h5 class="h3 title">
                                    <span class="d-block mb-1">Мой группа</span>
                                    <small class="h4 font-weight-light text-muted">VK.com</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button 
                                        type="primary"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="info" />
                                    </base-button>
                                    <base-button 
                                        type="danger"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="trash-alt" />
                                    </base-button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                            <div class="pt-4 text-center">
                                <h5 class="h3 title">
                                    <span class="d-block mb-1">Мой группа</span>
                                    <small class="h4 font-weight-light text-muted">VK.com</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button 
                                        type="primary"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="info" />
                                    </base-button>
                                    <base-button 
                                        type="danger"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="trash-alt" />
                                    </base-button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                            <div class="pt-4 text-center">
                                <h5 class="h3 title">
                                    <span class="d-block mb-1">Мой группа</span>
                                    <small class="h4 font-weight-light text-muted">VK.com</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button 
                                        type="primary"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="info" />
                                    </base-button>
                                    <base-button 
                                        type="danger"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="trash-alt" />
                                    </base-button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                            <div class="pt-4 text-center">
                                <h5 class="h3 title">
                                    <span class="d-block mb-1">Мой группа</span>
                                    <small class="h4 font-weight-light text-muted">VK.com</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button 
                                        type="primary"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="info" />
                                    </base-button>
                                    <base-button 
                                        type="danger"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="trash-alt" />
                                    </base-button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                            <div class="pt-4 text-center">
                                <h5 class="h3 title">
                                    <span class="d-block mb-1">Мой группа</span>
                                    <small class="h4 font-weight-light text-muted">VK.com</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button 
                                        type="primary"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="info" />
                                    </base-button>
                                    <base-button 
                                        type="danger"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="trash-alt" />
                                    </base-button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="#!">
                                <img src="@/assets/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                            </a>
                            <div class="pt-4 text-center">
                                <h5 class="h3 title">
                                    <span class="d-block mb-1">Мой группа</span>
                                    <small class="h4 font-weight-light text-muted">VK.com</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button 
                                        type="primary"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="info" />
                                    </base-button>
                                    <base-button 
                                        type="danger"
                                        rounded
                                        iconOnly
                                        textColor='white'
                                    >
                                        <font-awesome-icon icon="trash-alt" />
                                    </base-button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>

    export default {
        data() {
            return {
                
            };
        },
    };
</script>
<style></style>