<template>
    <div>
        <base-header>    
        </base-header>
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Basic with list group -->
                    <div class="card">
                        <img class="card-img-top" src="@/assets/telek.jpg" alt="Image placeholder">
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">Посмотреть все фото</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!-- Basic with list group -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h4 class="h2 mb-0">Товар лицом</h4>
                                </div>
                                <div class="text-right col-4">
                                    <base-dropdown position='right'>
                                        <base-button slot="title" type="primary" size="sm" class="dropdown-toggle">
                                            Действия
                                        </base-button>
                                        <a class="dropdown-item" href="#">Удалить</a>
                                        <a class="dropdown-item" href="#">Удалить из магазина</a>
                                        <a class="dropdown-item" href="#">Не синхронизировать</a>
                                    </base-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Много много букав Много много букав Много много букав 
                            Много много букав Много много букав Много много букав Много много букав Много много букав
                            Много много букавМного много букав Много много букав Много много букав</p>

                            <p class="font-weight-bold">500 руб</p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>    
    </div>
</template>
<script>

    export default {
        data() {
            return {
                
            };
        },
    };
</script>
<style></style>
