.breadcrumb {
    display: flex;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    list-style: none;
    border-radius: .375rem;
    background-color: #f6f9fc;
    flex-wrap: wrap;
}

.breadcrumb-links {
    margin: 0;
    padding: 0;
    background: 0 0;
}

.breadcrumb-item {
    font-size: 1.5rem;
}

.breadcrumb-dark .breadcrumb-item {
    font-weight: 600;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #f6f9fc;
}

.breadcrumb-dark .breadcrumb-item.active {
    color: #dee2e6;
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    color: #adb5bd;
}
.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
    text-decoration: underline;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    content: '-';
    color: #8898aa;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

.breadcrumb-dark .breadcrumb-item + .breadcrumb-item::before {
    color: #adb5bd;
}