<template>
    <div>
        <base-header title='Смена пароля'>
        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--6">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <form role="form">
                                <base-input class="input-group-alternative mb-3"
                                            placeholder="Старый пароль"
                                            type='password'
                                            :error="errors.old_password"
                                            v-model="password_old">
                                </base-input>

                                <base-input class="input-group-alternative mb-3"
                                            placeholder="Новый пароль"
                                            type='password'
                                            :error="errors.new_password"
                                            v-model="password_new">
                                </base-input>

                                <base-input class="input-group-alternative mb-3"
                                            placeholder="Продублируйте старый пароль"
                                            type='password'
                                            :error="errors.new_password_1"
                                            v-model="password_new_1">
                                </base-input>
                                
                                <div class="text-center">
                                    <base-button type="primary" class="my-4" @click="changePassword">Сменить пароль</base-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal :show.sync="show_success" gradient="success" @close="$router.push('/profile')">
            <div class="text-center">
                <font-awesome-icon icon="check-circle" class="text-white display-2" />
                <h4 class="heading mt-4 text-white">Пароль успешно изменен</h4>

            </div>
            <template slot="footer">
                <base-button type="white" size='sm' @click="show_success = false;$router.push('/profile')">Закрыть</base-button>
            </template>
        </modal>
    </div>
</template>
<script>
    import UserApi from '../api/user_api'
    export default {
        data() {
            return {
                password_old: '',
                password_new: '',
                password_new_1: '',
                errors: {old_password: '', new_password: '', new_password_1: ''},
                show_success: false
            };
        },
        methods: {
            changePassword() {
                let api = new UserApi(this)
                let app = this
                this.errors = {old_password: '', new_password: '', new_password_1: ''}
                this.$store.commit('appState/showSpinner')
                api.changePassword(this.password_old, this.password_new, this.password_new_1)
                .then(response => {
                    this.$store.commit('appState/hideSpinner')
                    if (response){
                        if (response.data.token){
                            this.$localStorage.set('token', response.data.token)
                            this.show_success = true
                        }
                    }else{
                        api.handleErrorMessages(app.errors)
                    }
                })
    
            }
        }
    };
</script>
<style></style>