<template>
    <div>
        <base-header title='Обратная связь'>
        </base-header>
        <div class="container-fluid mt--6">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Напишите нам..."></textarea>
                            </div>
                            <base-button 
                                    type="primary"
                                    textColor='white'
                                >
                                Отправить
                            </base-button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data() {
            return {        
            };
        },
    };
</script>
<style></style>