<template>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3"><small>Войдите с помощью:</small></div>
                        <div class="btn-wrapper text-center">
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="img/icons/common/vk.svg"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Или войдите используя email</small>
                        </div>
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        :error="user.errors.email"
                                        v-model="user.email">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Пароль"
                                        type="password"
                                        :error="user.errors.password"
                                        v-model="user.password">
                            </base-input>

                            <div class="text-center">
                                <base-button type="primary" class="my-4" @click="loginUser">Войти</base-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <router-link to="/restore_password" class="text-light"><small>Забыли пароль?</small></router-link>
                    </div>
                    <div class="col-6 text-right">
                        <router-link to="/registration" class="text-light"><small>Создать новый аккаунт</small></router-link>
                    </div>
                </div>
            </div>
</template>
<script>
import UserApi from '../api/user_api'
export default {
    name: 'login',
    data() {
        return {
            user: {
                email: '',
                password: '',
                errors: {email: '', password: ''}
            },
        }
    },
    methods: {
            loginUser() {
                let api = new UserApi(this)
                let app = this
                this.user.errors = {email: '', password: ''}
                this.$store.commit('appState/showSpinner')
                api.login(this.user.email, this.user.password)
                .then(response => {
                    this.$store.commit('appState/hideSpinner')
                    if (response){
                        if (response.data.token){
                            this.$localStorage.set('token', response.data.token)
                            this.$router.push('/products')
                        }
                    }else{
                        api.handleErrorMessages(app.user.errors)
                    }
                })
    
            }
        }
}
</script>
<style>
</style>
