<template>
    <div>
        <base-header title='Уведомления'>
        </base-header>
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <time-line>
                                <template v-slot:items>
                                    <time-line-item v-for="notification in notifications" 
                                        :key="notification.id"
                                        :icon="notification.icon"
                                        :color="notification.event"
                                        :dt="notification.event_date"
                                        :title="notification.name"
                                        :text="notification.text"
                                    />
                                </template>
                            </time-line>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="h3 mb-0">Поиск</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <base-input addon-left-icon="ni ni-calendar-grid-58">
                                    <flat-picker slot-scope="{focus, blur}"
                                                @on-open="focus"
                                                @on-close="blur"
                                                :config="config"
                                                class="form-control datepicker"
                                                v-model="date_range">
                                    </flat-picker>
                                </base-input>
                                <base-button 
                                    type="primary"
                                    textColor='white'
                                >
                                    Поиск
                                </base-button>
                            </div>
                        </div>
                    </div>        
                </div>    
            </div>
        </div>

    </div>
</template>
<script>
    import TimeLine from "../components/TimeLine/TimeLine";
    import TimeLineItem from "../components/TimeLine/TimeLineItem";
    import flatPicker from "vue-flatpickr-component";
    import "flatpickr/dist/flatpickr.css";
    import { Russian } from "flatpickr/dist/l10n/ru.js"

    export default {
        data() {
            return {
                notifications: [
                    {name: "Нотификация", text: 'это текст', event: 'success', icon: 'check', event_date: new Date('May 17, 2019 17:24:00'), id: 1},
                    {name: "Нотификация", text: 'это текст много много букв много много букв много много букв много много букв много много букв много много букв', event: 'danger', icon: 'exclamation-circle', event_date: new Date('May 17, 2019 17:30:00'), id: 2},
                    {name: "Нотификация", text: 'это текст много много букв много много букв много много букв много много букв много много букв много много букв', event: 'info', icon: 'info', event_date: new Date('May 17, 2019 17:40:00'), id: 3}
                ],
                date_range: new Date(),
                config: {
                    wrap: true,
                    dateFormat: 'd.m.Y',
                    allowInput: true, 
                    mode: 'range',
                    locale: Russian       
                },        
            };
        },
        components: {
            TimeLine,
            TimeLineItem,
            flatPicker
        }
    };
</script>
<style></style>