<template>
    <div>
        <base-header title='Профиль'>
        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <p><strong>Ваш email:</strong> {{ email }}</p>
                            <base-button 
                                    type="primary"
                                    textColor='white'
                                    @click='$router.push("/profile/change_password")'
                                >
                                Сменить пароль
                            </base-button>
                        </div>
                    </div>
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 d-flex align-items-center">
                                    <span class="display-4">Баланс: 5000 руб.</span> 
                                </div>
                                <div class="col-lg-4 text-right">
                                    <base-button 
                                    type="primary"
                                    textColor='white'
                                >
                                    Пополнить
                                </base-button>
                                </div>    
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-header">
                            <!-- Title -->
                            <h5 class="h3 mb-0">Интеграция с соц.сетями</h5>
                        </div>
                        <div class="card-body">
                            <base-list flush>
                                <template v-slot:items>
                                    <social-list-item :pic="require('../assets/team-1.jpg')" name="Вконтакте" connected></social-list-item>
                                    <social-list-item :pic="require('../assets/team-1.jpg')" name="Instagram"></social-list-item>
                                </template>
                            </base-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import BaseList from "../components/BaseList";
    import SocialListItem from "../components/SocialListItem";
    import UserApi from '../api/user_api'
    export default {
        data() {
            return {
                email: ''
            };
        },
        created(){
            let api = new UserApi(this)
            this.$store.commit('appState/showSpinner')
            api.getUserInfo()
            .then(response => {
                this.$store.commit('appState/hideSpinner')
                if (response){
                    this.email = response.data.email
                    
                }else{
                    api.handleErrorMessages({})
                }
            })
        },
        components: {
            BaseList,
            SocialListItem
        }
    };
</script>
<style></style>