<template>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3"><small>Зарегистрируйтесь с помощью:</small></div>
                        <div class="btn-wrapper text-center">
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="img/icons/common/vk.svg"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Или зарегистрируйтесь используя Email</small>
                        </div>
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        :error="user.errors.email"
                                        v-model="user.email">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Пароль"
                                        type="password"
                                        :error="user.errors.password"
                                        v-model="user.password">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Повторите пароль"
                                        type="password"
                                        :error="user.errors.password1"
                                        v-model="user.password1">
                            </base-input>

                            <div class="text-center">
                                <base-button type="primary" class="my-4" @click="registrationUser">Регистрация</base-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <router-link to="/restore_password" class="text-light"><small>Забыли пароль?</small></router-link>
                    </div>
                    <div class="col-6 text-right">
                        <router-link to="/login" class="text-light"><small>Войти</small></router-link>
                    </div>
                </div>
            </div>
</template>
<script>
    import UserApi from '../api/user_api'    
    export default {
        name: 'registration',
        data() {
            return {
                user: {
                    email: '',
                    password: '',
                    password1: '',
                    errors: {email: '', password: '', password1: ''}
                },
            }
        },
        methods: {
            registrationUser() {
                let api = new UserApi(this)
                let app = this
                this.user.errors = {email: '', password: '', password1: ''}
                this.$store.commit('appState/showSpinner')
                api.registration(this.user.email, this.user.password, this.user.password1)
                .then(response => {
                    this.$store.commit('appState/hideSpinner')
                    if (response){
                        if (response.data.token){
                            this.$localStorage.set('token', response.data.token)
                            this.$router.push('/products')
                        }
                    }else{
                        api.handleErrorMessages(app.user.errors)
                    }
                })
    
            }
        }
    }
</script>
<style>
</style>
