<template>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card bg-secondary shadow border-0" v-if="!showSuccess">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>На ваш email отправлено письмо с кодом восстановления пароля. Введите его и новый пароль.</small>
                        </div>
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Код из письма"
                                        :error="user.errors.token"
                                        v-model="user.token">
                            </base-input>
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Новый пароль"
                                        type="password"
                                        :error="user.errors.password"
                                        v-model="user.password">
                            </base-input>

                            <div class="text-center">
                                <base-button type="primary" class="my-4" @click="restorePassword">Сменить пароль</base-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card bg-secondary shadow border-0" v-if="showSuccess">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <p>Пароль успешно изменен</p>
                        </div>
                        <div class="text-center">
                            <base-button type="primary" class="my-4" @click="$router.push('/login')">Войти</base-button>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <router-link to="/restore_password" class="text-light"><small>Назад</small></router-link>
                    </div>
                </div>
            </div>
</template>
<script>
import UserApi from '../api/user_api'
export default {
    name: 'restore_password',
    data() {
        return {
            showSuccess: false,
            user: {
                token: '',
                password: '',
                errors: {token: '', password: ''}
            }
        }
    },
    methods: {
            restorePassword() {
                let api = new UserApi(this)
                let app = this
                this.user.errors = {token: '', password: ''}
                this.$store.commit('appState/showSpinner')
                api.resetPasswordConfirmToken(this.user.token, this.user.password)
                .then(response => {
                    this.$store.commit('appState/hideSpinner')
                    if (response){
                        app.showSuccess = true
                    }else{
                        api.handleErrorMessages(app.user.errors)
                    }
                })
    
            }
        }
  }
</script>
<style>
</style>