<template>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Введите Email, который был указан при регистрации</small>
                        </div>
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        :error="user.errors.email"
                                        v-model="user.email">
                            </base-input>

                            <div class="text-center">
                                <base-button type="primary" class="my-4" @click="restorePassword">Восстановить</base-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <router-link to="/registration" class="text-light"><small>Создать новый аккаунт</small></router-link>
                    </div>
                    <div class="col-6 text-right">
                        <router-link to="/login" class="text-light"><small>Войти</small></router-link>
                    </div>
                </div>
            </div>
</template>
<script>
import UserApi from '../api/user_api'
export default {
    name: 'restore_password',
    data() {
        return {
            user: {
                email: '',
                errors: {email: ''}
            }
        }
    },
    methods: {
            restorePassword() {
                let api = new UserApi(this)
                let app = this
                this.user.errors = {email: ''}
                this.$store.commit('appState/showSpinner')
                api.resetPasswordRequestToken(this.user.email)
                .then(response => {
                    this.$store.commit('appState/hideSpinner')
                    if (response){
                        this.$router.push('/restore_password_confirm')
                    }else{
                        api.handleErrorMessages(app.user.errors)
                    }
                })
    
            }
        }
  }
</script>
<style>
</style>