<template>
    <div>
        <base-header title='Логи'>
            <template v-slot:actions>
                <a href="#pablo" class="btn-neutral btn btn-default btn-sm">Фильтр</a>
            </template>    
        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="table-responsive py-4">
                        <div id="datatable-basic_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="dataTables_length" id="datatable-basic_length">
                                        <label>Показывать по
                                            <select name="datatable-basic_length" aria-controls="datatable-basic" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> 
                                            Зписей
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div id="datatable-basic_filter" class="dataTables_filter">
                                        <label>Поиск:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable-basic">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-flush dataTable" id="datatable-basic" role="grid" aria-describedby="datatable-basic_info">
                                        <thead class="thead-light">
                                            <tr role="row">
                                                <th style="width: 50px;"><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">Дата</th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">Событие</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">Модуль</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 224px;">Короткое описание</th>
                                            </tr>
                                        </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Ошибка</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Операция проведена</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Ошибка</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Операция проведена</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Операция проведена</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Операция проведена</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Ошибка</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Операция проведена</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Ошибка</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td><div class="custom-control custom-checkbox"><input class="custom-control-input" id="table-check-all" type="checkbox"><label class="custom-control-label" for="table-check-all"></label></div></td>
                                            <td class="sorting_1">11.04.19 12:30:40</td>
                                            <td>Операция проведена</td>
                                            <td>Магазин (vk.com)</td>
                                            <td>Неудалось синхронизирвать фото</td>
                                        </tr>
                                    </tbody>
                        </table>
                        </div>
                        </div>
    
                        </div>
                        </div>
                        <div class="py-4 card-footer">
                            <nav aria-label="...">
                                <nav class="pagination justify-content-end mb-0" aria-label="pagination">
                                    <ul class="justify-content-end mb-0 pagination">
                                        <li class="disabled page-item">
                                            <a href="#pablo" tabindex="-1" class="page-link">
                                                <font-awesome-icon icon="angle-left" />
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="active page-item">
                                            <a href="#pablo" class="page-link">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#pablo" class="page-link">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#pablo" class="page-link">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#pablo" class="page-link">
                                                <font-awesome-icon icon="angle-right" />
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </nav>
                        </div>    
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>

    export default {
        data() {
            return {
                
            };
        },
    };
</script>
<style></style>
