<template>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">{{title}}</h6>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <slot name="actions"></slot>
            </div>
          </div>
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'base-header',
    props: {
      title: {
        type: String,
        description: "Title view"
      },
    },
  }
</script>
<style>
</style>
