<template>
    <ul class="list-group list my--3" 
        :class="[
            {'list-group-flush': flush},
        ]">
        <slot name="items">

        </slot>
    </ul> 
</template>
<script>
export default {
    name: "base-list",
    props: {
        flush:{
            type: Boolean,
            description: 'add list-group-flush class for list'
        }
    },
    data() {
        return {};
    }
};
</script>
<style>
</style>