<template>
    <modal :show.sync="showModal"
            modalClasses='modal-sm'
            type='mini'>
            <div class="py-3 text-center">
                <div class="d-flex justify-content-center">
                    <div :class="'spinner-grow text-' + spinnerColor" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </modal>
</template>
<script>
export default {
  name: "load-spinner-modal",
  computed: {
    spinnerColor() {
      let collors = ['primary', 'success', 'danger', 'warning', 'info', 'dark']
      return collors[Math.floor(Math.random() * collors.length)];
    },
    showModal() {
      return this.$store.state.appState.visibleLoadSpinner
    }
  },
};
</script>
<style>
</style>