<template>
    <a href="#!" class="list-group-item list-group-item-action">
        <div class="row align-items-center">
            <div class="col-auto">
                <font-awesome-icon :icon="this.getIcon" :class="getColor" />
            </div>
            <div class="col ml--2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="mb-0 text-sm">{{ title }}</h4>
                    </div>
                    <div class="text-right text-muted">
                        <small>{{ date }}</small>
                    </div>
                </div>
                <p class="text-sm mb-0">{{ text }}</p>
            </div>
        </div>
    </a>
</template>
<script>
export default {
  name: "notification-dropdown-item",
  props: {
    text: {
      type: String,
      description: "Текст нотификации"
    },
    type: {
      type: String,
      description: "Тип нотификации"
    },
    title: {
      type: String,
      description: "Заголовок"
    },
    date: {
      type: String,
      description: "Дата нотификации"
    }
  },
  computed: {
    getIcon: function () {
        let icon = {}  
        switch(this.type) {
            case 'success':
                icon = 'check-circle'
                break
            case 'warning':
                icon = 'exclamation-triangle'
                break
            case 'error':
                icon = 'exclamation-circle'
                break
            case 'info':
                icon = 'info-circle'
                break
            default:
                icon = 'bug'
                break
        }
        return icon
    },
    getColor: function (){
        let color = {}  
        switch(this.type) {
            case 'success':
                color = 'text-success'
                break
            case 'warning':
                color = 'text-warning'
                break
            case 'error':
                color = 'text-danger'
                break
            case 'info':
                color = 'text-info'
                break
            default:
                color = 'text-info'
                break
        }
        return color
    } 
  },
  data() {
    return {};
  }
};
</script>