<template>
    <li class="list-group-item px-0">
        <div class="row align-items-center">
            <div class="col-auto">
                <!-- remote profile pic -->         
                <a class="avatar rounded-circle">
                    <img alt="Image placeholder" :src="pic">
                </a>


            </div>
            <div class="col ml--2">
                <h4 class="mb-0">
                    <span>{{ name }}</span>
                </h4>
                <div v-if="connected">
                    <span class="text-success">●</span>
                    <small>Подключен</small>
                </div>
                <div v-else>
                    <span class="text-danger">●</span>
                    <small>Отключен</small>
                </div>
            </div>
            <div class="col-auto" v-if="connected">
                <button type="button" class="btn btn-sm btn-danger">Отключить</button>
            </div>
            <div class="col-auto" v-else>
                <button type="button" class="btn btn-sm btn-primary">Подключить</button>
            </div>
        </div>
    </li> 
</template>
<script>
export default {
    inheritAttrs: false,
    name: "social-list-item",
    props: {
        pic: {
            type: String
        },
        name: {
            type: String
        },
        connected: {
            type: Boolean,
            default: false
        }
  },
  data() {
    return {};
  }
};
</script>
<style>
</style>