<template>
    <div class="timeline" :class="{'timeline-one-side': one_side}" data-timeline-content='axis' :data-timeline-axis-style='line_type'>
        <slot name="items">

        </slot>
    </div>
</template>
<script>
export default {
    inheritAttrs: false,
    name: "time-line",
    props: {
        line_type: {
            type: String,
            default: 'dashed'
        },
        one_side: {
            type: Boolean,
            default: false
        }
  },
  data() {
    return {};
  }
};
</script>