<template>
    <div class="timeline-block">
        <span class="timeline-step" :class="'badge-' + color">
            <font-awesome-icon :icon="icon" />
        </span>
        <div class="timeline-content">
            <small class="text-muted font-weight-bold">{{dt | moment("D.MM.YY HH:mm")}}</small>
            <h5 class=" mt-3 mb-0">{{ title }}</h5>
            <p class=" text-sm mt-1 mb-0">{{ text }}</p>
        </div>
    </div>
</template>
<script>
export default {
    inheritAttrs: false,
    name: "time-line-item",
    props: {
        icon: {
            type: String
        },
        color: {
            validator: function (value) {
                // Значение должно соответствовать одной из этих строк
                return ['success', 'danger', 'info'].indexOf(value) !== -1
            }, 
        },
        dt: {
            type: Date
        },
        title: {
            type: String
        },
        text: {
            type: String
        }
  },
  data() {
    return {};
  }
};
</script>