<template>
    <div class="main-content bg-default">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <slide-y-up-transition mode="out-in" origin="center top">
                    <router-view></router-view>
                </slide-y-up-transition>
            </div>
        </div>
        <modal :show.sync="visible_error_modal"
               gradient="danger"
               modal-classes="modal-danger modal-dialog-centered">
            <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">{{error_title}}</h4>
                <p v-for="(err, index) in error_messages" :key="index">{{ err }}</p>
            </div>

            <template slot="footer">
                <base-button type="white" @click='$store.commit("errorState/hideErrorMessage")'>Закрыть</base-button>
            </template>
        </modal>
        <load-spinner-modal />
    </div>
</template>
<script>
  import { SlideYUpTransition } from 'vue2-transitions'
  import LoadSpinnerModal from '../components/LoadSpinnerModal'
  import { mapState } from 'vuex'

  export default {
    name: 'auth-layout',
    components: {
      SlideYUpTransition,
      LoadSpinnerModal
    },
    data() {
      return {
      }
    },
    computed: mapState({
        error_title: state => state.errorState.error_title,
        error_messages: state => state.errorState.error_messages,
        visible_error_modal: state => state.errorState.visible_error_modal
        
    })
  }
</script>
<style>
html, body, #app, .main-content{
    height: 100%;
}
</style>
