<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      :background-color="sidebarBackground"
      short-title="Cube"
      title="Cube"
    >
      <template slot="links">
        <sidebar-item
          :link="{
            name: 'Товары',
            icon: 'boxes',
            color: 'text-primary',
            path: '/products'
          }"
        />

        <sidebar-item :link="{name: 'Источники', icon: 'dolly-flatbed', color: 'text-orange', path: '/sources'}"/>
        <sidebar-item :link="{name: 'Магазины', icon: 'store', color: 'text-blue', path: '/stores'}"/>
        <sidebar-item :link="{name: 'Логи', icon: 'book', color: 'text-yellow', path: '/logs'}"/>

      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>
    <modal :show.sync="visible_error_modal" gradient="danger" modal-classes="modal-danger modal-dialog-centered">
      <div class="py-3 text-center">
        <i class="ni ni-bell-55 ni-3x"></i>
        <h4 class="heading mt-4">{{error_title}}</h4>
        <p v-for="(err, index) in error_messages" :key="index">{{ err }}</p>
      </div>
      <template slot="footer">
        <base-button type="white" @click='$store.commit("errorState/hideErrorMessage")'>Закрыть</base-button>
      </template>
    </modal>
    <load-spinner-modal />
  </div>
</template>
<script>
  import DashboardNavbar from './DashboardNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import { FadeTransition } from 'vue2-transitions';
  import LoadSpinnerModal from '../components/LoadSpinnerModal'
  import { mapState } from 'vuex'

  export default {
    components: {
      DashboardNavbar,
      ContentFooter,
      FadeTransition,
      LoadSpinnerModal
    },
    data() {
      return {
        sidebarBackground: 'vue' //vue|blue|orange|green|red|primary
      };
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false);
        }
      }
    },
    computed: mapState({
      error_title: state => state.errorState.error_title,
      error_messages: state => state.errorState.error_messages,
      visible_error_modal: state => state.errorState.visible_error_modal
    })
  };
</script>
<style lang="scss">
</style>
