<template>
    <base-nav class="navbar-top navbar-dark"
              :show-toggle-button="false"
              expand>
        <ul class="navbar-nav align-items-center d-none d-md-flex ml-md-auto">
            <li class="nav-item">
                <base-dropdown class="nav-link pr-0 icon-shape" position='right' tag='div'>
                    <template slot="title">
                        <font-awesome-icon icon="user-circle" />
                    </template>
                    <template>
                        <router-link to="/profile" class="dropdown-item">
                            <font-awesome-icon icon="user" />
                            <span>Профиль</span>
                        </router-link>
                        <router-link to="/profile" class="dropdown-item">
                            <font-awesome-icon icon="key" />
                            <span>Сменить пароль</span>
                        </router-link>
                        <router-link to="/profile" class="dropdown-item">
                            <font-awesome-icon icon="envelope" />
                            <span>Обратная связь</span>
                        </router-link>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-item" @click="$localStorage.remove('token');$router.push('/login')">
                            <font-awesome-icon icon="sign-out-alt" />
                            <span>Выход</span>
                        </li>
                    </template>
                </base-dropdown>
            </li>
            <li class="nav-item">
                <notification-dropdown class="nav-link pr-0 icon-shape" position='right' tag='div' menuClasses='dropdown-menu-xl'>
                    <template slot="title">
                        <font-awesome-icon icon="bell" />
                    </template>
                    <template>
                        <notification-dropdown-item v-for="(notify, key) in this.notifications" 
                        :key="key"
                        :title='notify.title'
                        :text='notify.text'
                        :type='notify.type'
                        :date='notify.date' />
                    </template>
                </notification-dropdown>
            </li>
            <li class="nav-item" @click="$localStorage.remove('token');$router.push('/login')">
                <div class="nav-link pr-0 media align-items-center icon-shape" slot="title">
                    <font-awesome-icon icon="sign-out-alt" />
                </div>
            </li>
        </ul>
    </base-nav>
</template>
<script>
    import NotificationDropdown from '@/components/NotificationDropdown'
    import NotificationDropdownItem from '@/components/NotificationDropdownItem'
    export default {
        data() {
            return {
                activeNotifications: false,
                showMenu: false,
                searchQuery: '',
                notifications: [
                    {'text': 'Нотификация с ошибкой', 'title': 'Произошла ошибка', 'type': 'error', 'date': 'Сегодня в 8:00'},
                    {'text': 'Нотификация с предупреждением', 'title': 'Предупреждение', 'type': 'warning', 'date': 'Сегодня в 8:00'},
                    {'text': 'Нотификация успех', 'title': 'Успешно выполнено', 'type': 'success', 'date': 'Сегодня в 8:00'},
                    {'text': 'Нотификация c информацией', 'title': 'Дополнительная информация', 'type': 'info', 'date': 'Сегодня в 8:00'},
                ]
            };
        },
        components: {
            NotificationDropdown,
            NotificationDropdownItem
        },
        methods: {
            toggleSidebar() {
                this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
            },
            hideSidebar() {
                this.$sidebar.displaySidebar(false);
            },
            toggleMenu() {
                this.showMenu = !this.showMenu;
            }
        }
    };
</script>
